<p> <%= current_profile.first_name %> </p>

<h1>Appointments</h1>
<%# <% binding.pry %>
<%# <% @appointments.each do |appointment| %>

<p> Doctor:  <%#<%=appointment.doctor&.first_name %> <%#<%=appointment.doctor&.last_name %> - Status: <%#<%=appointment.status %> </p>
<%# <% end %>